<div id="box" style='width: 100%; height: 100%; position: absolute; left: 0; top: 0'></div>

<div id='colorContainer' class='color-container'>
  <canvas id='colorWheel' class='color-canvas'></canvas>
  <canvas id='colorRect' class='color-canvas'></canvas>

  <div id='sliderWheel' class='slider-wrapper'>
    <div id='controlWheel' class='slider-button'></div>
  </div>
  <div id='sliderMask' class='slider-wrapper'></div>
  <div id='sliderRect' class='slider-wrapper'>
    <div id='controlRect' class='slider-button'></div>
  </div>
</div>
