<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#r-color-card" aria-controls="r-color-card" role="tab" data-toggle="tab">
      Colors <span id='color-counter' class="badge">0</span>
    </a>
  </li>
  <li role="presentation">
    <a href="#r-image-card" aria-controls="r-image-card" role="tab" data-toggle="tab">
      Images  <span id='image-counter' class="badge">0</span>
    </a>
  </li>
</ul>

<div id='r-tab-content' class="tab-content">
  <div id="r-color-card" role="tabpanel" class="tab-pane active">
    <%= render :partial => 'right_colors' %>
  </div>

  <div id="r-image-card" role="tabpanel" class="tab-pane">
    <%= render :partial => 'right_images' %>
  </div>
</div>
