<script>

$(document).ready(function(){
  $('.swiper-card-color').each(function() {
    var hex = $(this).children(".ink").first().val();
    console.log(hex);
    $(this).css("background-color", hex);
    $(this).find(".swiper-label-hex").text(hex);
  });

  $('.swiper-label-hex').mouseover(function (){
    var text_color  = $(this).css("color");
    var hex         = $(this).text();

    console.log(hex);
  });
});

</script>

<%#- Slider main container %>
<div class="swiper-container">
    <%#- Additional required wrapper %>
    <div id='sortableList' class="swiper-wrapper">
        <%#- Slides %>
        <% JSON.parse(pallet.image_url).each do |url| %>
          <% if url.present? %>
            <div class="swiper-slide swiper-card-image">
              <%= link_to(url, url) %>
              <%= image_tag(url) %>
            </div>
          <% end %>
        <% end %>

        <% pallets = pallet.colors.split(",") %>
        <% pallets.each do |color_hex| %>
          <div class="swiper-slide swiper-card-color">
            <input class="ink" type="color" style="display: none;" value="<%= color_hex %>"/>
            <div class="swiper-label-wrapper swiper-no-swiping">
              <%#<span class="swiper-draggable glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>%>
              <div class="swiper-label-hex"></div>
            </div>
          </div>
        <% end %>

        <% bobbles = (5 - pallets.count) %>
        <% bobbles.times do %>
          <div class="swiper-slide swiper-card-color" style="background-color: #ffffff;">
          </div>
        <% end %>
    </div>
    <%#- If we need pagination
    <div class="swiper-pagination"></div> %>

    <%#- If we need navigation buttons
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> %>

    <%#- If we need scrollbar
    <div class="swiper-scrollbar"></div> %>
</div>
