<div id='left-bar' class='col-lg-8'>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#l-farbtastic" aria-controls="l-farbtastic" role="tab" data-toggle="tab">Farbtastic</a></li>
    <li role="presentation"><a href="#l-image" aria-controls="l-image" role="tab" data-toggle="tab">Image</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="l-farbtastic" role="tabpanel" class="tab-pane active">
      <%= render :partial => 'color_wheel' %>
    </div>

    <div id="l-image" role="tabpanel" class="tab-pane">
      <%= render :partial => 'dropzone' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">c</div>
    <div role="tabpanel" class="tab-pane" id="settings">d</div>
  </div>


</div>
<div id='color-counter'>0</div>
<div id='right-bar' class='col-lg-4 right-bar'>
  <%= render :partial => 'edit_right_bar' %>
</div>

<%= render 'form', pallet: @pallet %>

<%#= link_to 'Show', @pallet %> |
<%#= link_to 'Back', pallets_path %>
