/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require primer.scss
 * require_self
 *= require swiper.css
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

// overwrite custom swiper setting
.swiper-container {
  width: 100%;
  height: 800px;
  background-color: #0b0c0e;

  .card-image {
    width: 100%;
  }

  .card-color {
    width: 20%;
  }

  img.center {
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  .label-wrapper {
    position: absolute;
    bottom: 7%;
    width: 100%;
    & > div {
      font-size: 36px;
    }

    .label-hex {
      text-transform: uppercase;
      font-family: "Gotham Rounded A", "Gotham Rounded B", sans-serif;
      font-weight: 500;
    }
  }
}

.row1 {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25);
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
  padding: 20px 0px;
}



// overwrite bootstrap navbar margin
.navbar {
  margin-bottom: 0px;
}

#dropzone {
  position: relative;
  //border: 5px dotted #000;
  //border-radius: 10px;
  color: #000;
  font: bold 24px/128px arial;
  margin: 30px auto;
  //text-align: center;
  background-color: #555555;

  width: 100%;
  height: 400px;


  // drag in out
  &.hover {
  	background-color: #e3e3e3;
  }

  // progress bar
  .dz-upload {
    background-color: #eeeeee;
    position: absolute;
    height: 10px;
    width: 100%;
  }

  %dz-img-overlay {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }

  & .dz-preview {
    @extend %dz-img-overlay;
    z-index: 1;
  }

  & .dz-success {
    @extend %dz-img-overlay;
    z-index: 0;
  }

  & .dz-image {
    width: 100%;
  }
}

.card-image {
  box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.2),0px 6px 15px 0 rgba(0,0,0,0.15);
}
