/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require primer.scss
 * require_self
 *= require swiper.css
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

// overwrite custom swiper setting
.swiper-container {
  width: 100%;
  height: 800px;
  background-color: #0b0c0e;

  .card-image {
    width: 100%;
  }

  .card-color {
    width: 20%;
  }

  img.center {
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  .label-wrapper {
    position: absolute;
    bottom: 7%;
    width: 100%;
    & > div {
      font-size: 36px;
    }

    .label-hex {
      font-family: "Gotham Rounded A", "Gotham Rounded B", sans-serif;
      font-weight: 500;
    }
  }
}




// overwrite bootstrap navbar margin
.navbar {
  margin-bottom: 0px;
}
