/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require primer
 *= require_self
 *= require swiper
 *= require farbtastic
 *= require imageColorPicker
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "tools";


.flash {
  @include fix-top();
  display: none;
}

.fix-top {
  @include fix-top();
}

.fix-top-input {
  @include fix-top();
  display: none;
  background-color: #E0E0E0;
  outline: none;
}

.form-btn {
  input {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #777777;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
  }
}

// overwrite custom swiper setting
.swiper-container {
  width: 100%;
  height: 800px;
  background-color: #0b0c0e;

  .swiper-card-image {
    position: relative;
    width: 100%;
    canvas, img {
      @include abs-center();
      @include fit-size();
      box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.2),0px 6px 15px 0 rgba(0,0,0,0.15);
    }
    a {
      color: #333333;
      border-bottom-right-radius: 5px;
      padding: 5px 5px;
      text-decoration: none;
      transition:.15s;
      font-family: "Lucida Console", Monaco, monospace, "Courier New", Courier, monospace;
    }
    a:hover {
      background-color: rgba(127,127,127,.5);
      text-decoration: none;
      color: #C7C7C7;
    }
  }

  .swiper-card-color {
    width: 20%;
  }

  .swiper-label-wrapper {
    position: absolute;
    bottom: 7%;
    width: 100%;
    font-size: 36px;
    text-align: center;

    .swiper-label-hex {
      text-transform: uppercase;
      font-family: "Gotham Rounded A", "Gotham Rounded B", sans-serif;
      font-weight: 500;
    }
  }
}

.badge {
  background-color: #E0E0E0;
  color: black;
}

// overwrite bootstrap navbar margin
.navbar {
  margin-bottom: 0px;
}

.right-bar {
  .tab-content {
    height: 800px;
    overflow: scroll;
  }
}

.tab-pane{
  position: relative;
  height: 100%;
}

.container {
  .thumbnail {
    background-color: #F7F7F7;

    .thumbnail-img {
      position: relative;
      height: 240px;
      & > img {
        @include abs-center();

        max-height: 100%;
        max-width: 100%;
      }
    }
  }

  .color-bar {
    width: 100%;
    &.bar-32 {
      height: 32px;
    }
    &.bar-20 {
      height: 20px;
    }
  }

  &.bar-32 {
    height: 32px;
  }

  .color-chunked {
    float: left;
    height: 100%;
  }


  .container-default-page {
    margin-top: 30%;
  }
  .container-main-page {
    margin-top: 10px;
  }

  // show
  .color-info-table {
    margin-top: 16px;

    tr {
      height: 32px;
    }
  }
}
