<!DOCTYPE html>
<html>
  <head>
    <title>Picolor</title>
    <%= render partial: "feature/tags" %>
  </head>

  <body>
    <ul class="hmenu">
      <%= render 'painters/menu/registration_items' %>
      <%= render 'painters/menu/login_items' %>
    </ul>
    app
    <%= yield %>
    <hr/>
    <div>reserve</div>
    <p>Database: <% ActiveRecord::Base.configurations %> </p>
  </body>
</html>
